<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>子卫星释放</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}" href="../../static/css/font-awesome.css"/>
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.css}" href="../../static/css/dataTables.bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/scroller.bootstrap.css}" href="../../static/css/scroller.bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.css}"
          href="../../static/css/bootstrap-datetimepicker.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-switch.css}" href="../../static/css/bootstrap-switch.css"/>

    <link rel="stylesheet" th:href="@{/css/highcharts.css}" href="../../static/css/highcharts.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-dialog.css}" href="../../static/css/bootstrap-dialog.css"/>

    <link rel="stylesheet" th:href="@{/css/charisma-app.css}" href="../../static/css/charisma-app.css"/>
    <link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css"/>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css"  media="all"/>
</head>
<body>
<div th:replace="layout/layout :: navbar"></div>  <!--插入layout.html中的<navbar> : 所有页面的导航栏-->

<div class="container-fluid">
    <div class="row">
        <!-- left menu starts -->
        <div th:replace="layout/layout :: menu2"></div>  <!--插入layout.html中的<menu2> :《厂内经济运行》的导航栏-->
        <!-- left menu ends -->

        <div id="content" class="col-sm-10 col-lg-10">

            <!--input starts-->
            <div class="box" style="width: 55%;float: left">
                <div class="box-inner" style="height: 100%">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon glyphicon-edit"></i> 子卫星释放演示视频</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <!--加入视频-->
                        <video width="100%" autoplay="autoplay" controls="controls">
                            <source src="static/video/子卫星释放.mp4" type="video/mp4"></source>
                        </video>
                        <br/>
                        <hr/>
                    </div>
                </div>
            </div>
            <!--input ends-->

            <!--input2 starts-->
            <div class="box" style="width: 43%;float: right">
                <div class="box-inner" style="height: 100%">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon glyphicon-edit"></i> 空间坐标系</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                            <div class="container" style="width: 100%;height: 120%">
                                <img src="static/images/release/earth.jpg" style="width: 100%;height: 435px"/>
                            </div>
                    </div>
                </div>
            </div>
            <!--input2 ends-->


            <!--output starts -->
            <div class="box" style="margin-top:43%;float: bottom; height:100%">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon glyphicon-list"></i> 相对距离的变化趋势
                        </h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                        </div>
                    </div>
                    <!--加入视频-->
                    <img src="static/images/release/仿真示意图.jpg" style="height: 100%;width: 100%"/>
                    <br/><br/>
                    <br/><br/>
                    <br/>
                </div>

            </div><!--output ends-->

        </div><!-- content ends -->
    </div><!--/row-->

</div><!--/container-fluid-->


<div th:replace="layout/layout :: footer"></div>
<script th:src="@{/js/jquery.js}" src="../../static/js/jquery.js"></script>
<script th:src="@{/js/bootstrap.js}" src="../../static/js/bootstrap.js"></script>
<script th:src="@{/js/moment-with-locales.js}" src="../../static/js/moment-with-locales.js"></script>
<script th:src="@{/js/bootstrap-datetimepicker.js}" src="../../static/js/bootstrap-datetimepicker.js"></script>

<script th:src="@{/js/jquery.dataTables.js}" src="../../static/js/jquery.dataTables.js"></script>
<script th:src="@{/js/dataTables.bootstrap.js}" src="../../static/js/dataTables.bootstrap.js"></script>
<script th:src="@{/js/dataTables.scroller.js}" src="../../static/js/dataTables.scroller.js"></script>

<script th:src="@{/js/bootstrap-dialog.js}" src="../../static/js/bootstrap-dialog.js"></script>
<script th:src="@{/js/jquery.cookie.js}" src="../../static/js/jquery.cookie.js"></script>


<script th:src="@{/js/myChart.js}" src="../../static/js/myChart.js"></script>

<script th:src="@{/js/lodash.js}" src="../../static/js/lodash.js"></script>
<script th:src="@{/js/jquery.backstretch.js}" src="../../static/js/jquery.backstretch.js"></script>
<script th:src="@{/js/charisma.js}" src="../../static/js/charisma.js"></script>
<script th:src="@{/js/application.js}" src="../../static/js/application.js"></script>

<script src="static/layui/layui.js" charset="utf-8"></script>

<script type="text/javascript" src="../../static/tool/highcharts.js"></script>
<script type="text/javascript" src="../../static/tool/assess/exporting.js"></script>
<script type="text/javascript" src="../../static/tool/highcharts-more.js"></script>
<script type="text/javascript" src="../../static/tool/highcharts-zh_CN.js"></script>
</body>
</html>