<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--《欢迎登陆》的页面：http://127.0.0.1:8080/-->

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>可重构空间在轨服务细胞星系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css"/>

    <link rel="stylesheet" th:href="@{/css/charisma-app.css}" href="../static/css/charisma-app.css"/>
    <link rel="stylesheet" th:href="@{/css/application.css}" href="../static/css/application.css"/>


</head>
<body>
    <!--将网页《layout》中的<navbar>导航栏中的内容，放在这里，与下面代码构成一个网页-->
    <div th:replace="layout/layout :: navbar"></div>

      <div class="container-fluid">      <!--流态容器-->
      </div>
    <!--页面底端的导航栏：标明了——&copy; 2017 国网江西省电力公司柘林水电厂&amp;华中科技大学 All Rights Reserved-->
    <div th:replace="layout/layout :: footer"></div>

<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
<script th:src="@{/js/moment-with-locales.js}" src="../static/js/moment-with-locales.js"></script>
<script th:src="@{/js/bootstrap-datetimepicker.js}" src="../static/js/bootstrap-datetimepicker.js"></script>

<script th:src="@{/js/jquery.dataTables.js}" src="../static/js/jquery.dataTables.js"></script>
<script th:src="@{/js/dataTables.bootstrap.js}" src="../static/js/dataTables.bootstrap.js"></script>
<script th:src="@{/js/dataTables.scroller.js}" src="../static/js/dataTables.scroller.js"></script>

<script th:src="@{/js/jquery.cookie.js}" src="../static/js/jquery.cookie.js"></script>

<script th:src="@{/js/highcharts.src.js}" src="../static/js/highcharts.src.js"></script>
<script th:src="@{/js/exporting.src.js}" src="../static/js/exporting.src.js"></script>
<script th:src="@{/js/lodash.js}" src="../static/js/lodash.js"></script>
<script th:src="@{/js/charisma.js}" src="../static/js/charisma.js"></script>
<script th:src="@{/js/jquery.backstretch.js}" src="../static/js/jquery.backstretch.js"></script>
<script th:src="@{/js/application.js}" src="../../static/js/application.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({     /*日期时间选择器*/
            locale: 'zh-cn',
            format: 'LL'
        });
        $("#dialog").submit(function () {
            alert("haha");
            waitingDialog.show('computing, please wait...');
            setTimeout(function () {
                waitingDialog.hide();
            }, 5000);
        });
    });
</script>

<!--upload file-->
<script>
    $(function () {
        $("#upload-form").submit(function (event) {
            event.preventDefault();        /*event.preventDefault()： 取消事件的默认动作*/
            var formData = new FormData($("#upload-form")[0]);
            $.ajax({
                url: '/data/upload',
                type: "POST",
                data: formData,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                success:  function(data) {
                    Highcharts.setOptions({
                        global: {
                            useUTC: false
                        }
                    });

                    var options =  {
                        chart: {
                            renderTo: 'outputChart',
                            type: 'spline',
                            animation: Highcharts.svg, // don't animate in old IE
                            marginRight: 10
                        },
                        title: {
                            text: 'Live random data'
                        },
                        xAxis: {
                            type: 'datetime',
                            //Sets tickInterval to 24 * 3600 * 1000 if display is by day
                            tickInterval: 1.5 * 3600 * 1000,
                            dateTimeLabelFormats : {
                                day: '%H:%M'
                            }
                        },
                        yAxis: {
                            title: {
                                text: 'Value'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            formatter: function () {
                                return '<b>' + this.series.name + '</b><br/>' +
                                    Highcharts.dateFormat('%H:%M', this.x) + '<br/>' +
                                    Highcharts.numberFormat(this.y, 2);
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        exporting: {
                            enabled: false
                        },
                        series: [{}]
                    };


                    var processed_json = [];

                    _.forEach(data, function (value) {
                        processed_json.push([value.time, value.output]);
                    });

                    options.series[0].data = processed_json;
                    var chart = new Highcharts.Chart(options);
                }
            });
        });
    });
</script>

<script>
    $("#economic_operation").submit(function (event) {
        event.preventDefault();
        waitingDialog.show('computing, please wait...');
        setTimeout(function () {
            waitingDialog.hide();
        }, 3000);
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/data/economic_operation",
            dataType: 'json',
            timeout: 100000,
            success: function (data) {
                console.log("SUCCESS: ", data);
            }
        });
    });

</script>

<script>
    $(function() {

        /*
         Fullscreen background
         */
        $.backstretch("/images/background/4.jpg")  /*欢迎登陆的页面*/
    });

</script>

</body>
</html>